@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Markazi+Text:wght@400..700&display=swap");

:root {
  --primary-green: #495e57;
  --primary-yellow: #f4ce14;
  --secondary-pink: #ee9972;
  --secondary-peach: #fbdab5;
  --highlight-white: #edefee;
  --highlight-black: #333333;
}

body {
  padding: 0;
  margin: 0;
}

p,
button {
  font-size: 18px;
  font-family: "Karla", sans-serif;
}

li {
  list-style: none;
  font-family: "Karla", sans-serif;
}

a {
  text-decoration: none;
  color: currentColor;
}

.header {
  display: flex;
  justify-content: center;
  gap: 2em;
}

.navigation {
  display: flex;
  gap: 2em;
  font-size: 1.1em;
  font-weight: bold;
}

.main-content {
  display: flex;
  justify-content: center;
  gap: 18em;
  background-color: var(--primary-green);
  height: 320px;
  margin-top: 2em;
  padding-top: 1em;
}

.main-content img {
  margin-top: 1em;
  height: 350px;
  border-radius: 1em;
}

.intro {
  display: flex;
  flex-direction: column;
}

.intro p {
  color: var(--highlight-white);
}

.intro button {
  width: 10em;
  font-weight: bold;
  background-color: var(--primary-yellow);
  border-radius: 0.8em;
  padding: 0.5em 0;
}

.display-title {
  font-size: 64px;
  color: var(--primary-yellow);
  font-family: "Markazi Text", serif;
}

.sub-title {
  font-size: 40px;
  color: var(--highlight-white);
  font-family: "Markazi Text", serif;
}

.specials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12em;
  margin-top: 5em;
}

.specials span {
  font-size: 64px;
  color: var(--highlight-black);
  font-family: "Markazi Text", serif;
}

.specials button {
  width: 8em;
  font-weight: bold;
  background-color: var(--primary-yellow);
  border-radius: 0.8em;
  padding: 0.5em 0;
}
